// banner
/*Banner*/
// Estilos para el banner
*{
    margin: 0;
    padding: 0;
}          

.banner-img{
    width: 100%;
    height: auto;
}

// fuete body
body {
  font-family: $fuente-primaria;
}
